.userContainer{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    margin-right: 20px;
}

.userImage{
border-radius: 50%;
  height: 30px;
}

.userName{
  font-size: 14px;
  position: relative;
  top: 5px;
  margin-left: 10px;
}