.loginButton{
  margin:  15px;
  float: right;
}

.searchBar{
  margin: 15px;
  width: 130px;
  height: 20px;
}



.left-side-section {
  position: fixed;
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 180px;
  overflow-y: auto;
}

.main-section {
  width: 900px;
  position: relative;
  left: 200px;
  padding: 0 10px;
}
html{
  height: 100%;
}
body {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  color: #fff;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}


.playingImg{
  height: 190px;
}

#root{
  height: 100%;
 
}